# Agenda

1. Get started and series
    - Why Python?
    - What is Pandas?
    - What is a Pandas series -- defining them and working with them
    - Broadcasting
    - Boolean/mask indexes
    - Indexes
    - Dtypes
2. Data frames
3. Analyzing data

# Jupyter notebook

Jupyter is a REPL -- read, eval, print loop -- but one that is web-based.  

I'll be using Jupyter in this course! If you want to, you can:

- You can install Jupyter on your computer if you have some Python experience
- If you use VSCode or PyCharm, then they come with Jupyter installed already
- You can use Jupyter Lite, at https://jupyter.org/try-jupyter/lab/

# Some things to keep in mind during the course

1. PLEASE ASK LOTS OF QUESTIONS! Use the Q&A widget (not the attendee chat) to ask.
2. We will do exercises, please try to do them, too!
3. Whatever I type into my Jupyter window is mirrored on GitHub, at https://github.com/reuven/OReilly-2026-02February-pandas .

In [1]:
9+9

18

# A 5-minute introduction to Jupyter

We type into *cells* in Jupyter. Each cell contains Python code or documentation (Markdown). Each cell has one of two "modes" when you type into it:

- Edit mode, which means that when you type, the text goes into the cell (like right now!). You can enter edit mode by pressing `ENTER` or by clicking inside of a cell. This is true for either Python cells or Markdown cells; typing into them requires that you're in edit mode.
- Command mode, which means that you're giving one-letter commands to Jupyter. The character isn't entered into the cell, but affects how Jupyter does things. To enter command mode, press `ESC` or click to the left of the cell.

When you're in edit mode and want to tell Python to run/display what you've done, press shift+`ENTER` together. That'll "run" the cell.

### Command mode commands:

- `c` -- copies the current cell
- `x` -- cuts the current cell
- `v` -- pastes the most recent copy/cut
- `a` -- add a new cell *above* the current one
- `b` -- add a new cell *below* the current one
- `y` -- puts a cell into Python mode, for coding
- `m` -- puts a cell into Markdown mode, for documenting

In [1]:
2 + 5

7

In [1]:
2 + 5

7

In [5]:
import sys 

print(sys.version)
print(sys.version_info)
print(sys.platform)
print(sys.executable)
print(sys.path)

3.10.12 (main, Jan  8 2026, 06:52:19) [GCC 11.4.0]
sys.version_info(major=3, minor=10, micro=12, releaselevel='final', serial=0)
linux
/home/vagrant/Git/3rdParty/OReilly-2026-02February-pandas/.venv/bin/python
['/usr/lib/python310.zip', '/usr/lib/python3.10', '/usr/lib/python3.10/lib-dynload', '', '/home/vagrant/Git/3rdParty/OReilly-2026-02February-pandas/.venv/lib/python3.10/site-packages']

In [7]:
import numpy as np
import pandas as pd 
from pandas import Series, DataFrame

s = Series([1, 2, 3, 4, 5])
print(s[0])
print(s[2])

1
3

In [12]:
d = s[1:3]
print(d[1])

2

In [14]:
print(np.__version__)
print(pd.__version__)

2.2.6
2.3.3

In [16]:
words = Series(['Python', 'is', 'great', 1])
print(words)

0    Python
1        is
2     great
3         1
dtype: object

In [19]:
words + words

0    PythonPython
1            isis
2      greatgreat
3               2
dtype: object

In [21]:
print(s.sum())

15

In [23]:
try:
    print(words.sum())
except Exception as e: print(e)

can only concatenate str (not "int") to str

In [28]:
print("mean: ",s.mean())
print("max: ",s.max())
print("min: ",s.min())

mean:  3.0
max:  5
min:  1

In [32]:
print(s.describe())
head = s.head(2)
tail = s.tail(1)
print(head) 
print(tail)

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64
0    1
1    2
dtype: int64
4    5
dtype: int64

In [25]:
duplicates = Series([10, 20, 10, 20, 10, 40, 30, 30, 30, 30])
print("Count of each unique value in the Series:")
print(duplicates.value_counts())
print("Min is {0} and Max is {1}".format(duplicates.describe()['min'], duplicates.describe()['max']))

Count of each unique value in the Series:
30    4
10    3
20    2
40    1
Name: count, dtype: int64
Min is 10.0 and Max is 40.0

In [23]:
a,b = duplicates.describe()[['min', 'max']]
print("Mins is %d and max is %d"%(a,b))

Mins is 10 and max is 40

In [22]:
if (duplicates.iloc[0] == duplicates.loc[0]):
    print("iloc and loc are the same for the first element (%d)"%duplicates.iloc[0])

if (duplicates.iloc[-1] == duplicates.loc[duplicates.index[-1]]):
    print("iloc and loc are the same for the last element (%d)"%duplicates.iloc[-1])

iloc and loc are the same for the first element (10)
iloc and loc are the same for the last element (30)

In [18]:
counts = duplicates.value_counts()
print("Most occured and second most occured numbers are (2nd number in line is number of occurrences): ")
print(counts.iloc[0:2])

Most occured and second most occured numbers are (2nd number in line is number of occurrences):
30    4
10    3
Name: count, dtype: int64

In [31]:
# How to apply a filter to a Series
filter = duplicates > 20 
print(filter) 
print(duplicates.loc[filter])

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
9     True
dtype: bool
5    40
6    30
7    30
8    30
9    30
dtype: int64

In [33]:
temps = Series([30, 35, 28, 32, 31, 30, 35, 28, 32, 31], index = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun', 'Mon', 'Tue', 'Wed'])

In [43]:
print("Mean temperature on Mondays is {0}".format(temps.loc[temps.index == 'Mon'].mean()))
print("Mean temperature on Mondays is {0}".format(temps.loc[ ['Mon'] ].mean()))

Mean temperature on Mondays is 29.0
Mean temperature on Mondays is 29.0

In [44]:
print("Mean temperature on Mondays and Sundays is {0}".format(temps.loc[(temps.index == 'Mon') | (temps.index == 'Sun')].mean()))
print("Mean temperature on Mondays and Sundays is {0}".format(temps.loc[['Mon', 'Sun']].mean()))

Mean temperature on Mondays and Sundays is 31.0
Mean temperature on Mondays and Sundays is 31.0

In [42]:
print("Max temperature on 1st three days is {0}".format(temps.iloc[:3].max()))
print("Max temperature on 1st three days is {0}".format(temps.head(3).max()))

Max temperature on 1st three days is 35
Max temperature on 1st three days is 35

In [45]:
#setting type to float
monetary = Series([100, 200, 300], dtype = 'float')
print(monetary)

0    100.0
1    200.0
2    300.0
dtype: float64

In [49]:
# mapping to different type
monetary.astype('int').astype('string') + " dollars"

0    100 dollars
1    200 dollars
2    300 dollars
dtype: string

In [53]:
# 
smallInts = Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype = 'int16')
smallInts.loc[ smallInts % 2 == 0 ] = 300 + smallInts.loc[ smallInts % 2 == 0 ]
print(smallInts)

0      1
1    302
2      3
3    304
4      5
5    306
6      7
7    308
8      9
9    310
dtype: int16

In [63]:
smallFloats = Series([10.6, 2.2, 3.4, 400.1, 5.5, 6000, 7.9, 8, 9, 10], dtype = 'float16')
# this will cause flooring as int16 can only store integer values
print(smallFloats.astype('int16'))
# this will cause roudning to nearest upper or lower value
print(smallFloats.round().astype('int16'))

# this will cause overflow as int8 can only store values from -128 to 127
print(smallFloats.astype('int8'))

0      10
1       2
2       3
3     400
4       5
5    6000
6       7
7       8
8       9
9      10
dtype: int16
0      11
1       2
2       3
3     400
4       6
5    6000
6       8
7       8
8       9
9      10
dtype: int16
0     10
1      2
2      3
3   -112
4      5
5    112
6      7
7      8
8      9
9     10
dtype: int8

In [84]:
# NaN stands for Not a Number and is used to represent missing or undefined values in a Series. It is a special floating-point value defined in the IEEE 754 standard. NaN is often used to indicate missing data in a dataset, and it can be generated by various operations, such as division by zero or invalid mathematical operations.
print("NaN is of type:", type(np.nan))
series = Series([np.nan, 2, np.nan, 4, 5])
print(series)
print("Max (and similar aggregation) function ignores NaN values:", series.max())
print("Count of all values:", series.index.size)
print("Count of non-NaN values:", series.count())

NaN is of type: <class 'float'>
0    NaN
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64
Max (and similar aggregation) function ignores NaN values: 5.0
Count of all values: 5
Count of non-NaN values: 3

In [ ]:
# can we convert to integer such Series ?
try:
    series.astype('int')
except Exception as e: print(e)

# how do we deal with values if they are integer?
# 1. drop NaN
cleanSeries = series.dropna().astype('int')
print(cleanSeries)

# 2. or we can fill NaN with a specific value
adjustedSeries = series.fillna(series.median()).astype('int')
print(adjustedSeries)

# 3. or if values changes gradually we can fill gaps with interpolation
# But watch if first or last values are missing as interpolation will not work for them
interpolatedSeries = series.interpolate()
print(interpolatedSeries)

Cannot convert non-finite values (NA or inf) to integer
1    2
3    4
4    5
dtype: int64
0    4
1    2
2    4
3    4
4    5
dtype: int64
0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64